<header>
    <div class="row head">
        <div class="col-md-4 log">
            <h4 class="text-danger font-italic titre" style="overflow: initial;">Votre Blog n°1 sur les FastCar</h4>
        </div>
        <div class="col-md-2">
            <img class="logoH" src="../public/img/fast-car-logo.png">
        </div>
        <div class="col-md-4 log">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <button type="button" class="btn btn-primary"><a class="link  text-white" href="./index.php/profile">
                {{ app.user }}
            </a></button>
            <button type="button" class="btn btn-light"><a class="link" href="index.php/logout">Se deconnecter</a></button>
            {% else %}
            <button type="button" class="btn btn-light"><a class="link" href="index.php/login">Se Connecter</a></button>
            {% endif %}
           <button type="button" class="btn btn-light"><a class="text-danger" href="index.php/register">S'inscrire</a></button>
        </div>
    </div>
</header>    